@page "/simple"
@layout SimpleLayout
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using TAISEN.Classes;

<PageTitle>SIMPLE</PageTitle>

<h1>Méthode SIMPLE</h1>
<p class="sh1">L'objectif de cette méthode est de faire progresser significativement le niveau de sécurité d'un projet
    en moins de 2 mois</p>

<div>
    <h2>Périmètre</h2>
    <span class="oi oi-crop" aria-hidden="true"></span>
    <br>
    <p>Le champ de cette méthodologie cible les projets applicatifs ainsi que l'infrastructure sur laquelle ils
        reposent, ce qui inclut:</p>
    <ul>
        <li>- toute application métier, qu'il s'agisse d'un environnement Web, industriel, IoT, cloud, hybride, etc.</li>
        <li>- le middleware, les librairies, les dépendances et les composants tiers</li>
        <li>- les composants du système d’exploitation, des microservices, ainsi que leur orchestration</li>
        <br>
    </ul>
</div>

@if (GetEtapes == null)
{
    <p><em>Chargement...</em></p>
}
else
{

    <div class="bgDiv">
        <br>
        <h2>Référentiels</h2>
        <span class="oi oi-compass" aria-hidden="true"></span>
        <br>
        @foreach (SEtape E in GetEtapes)
        {
            @foreach (Atelier A in E.Ateliers)
            {
                TotalPoids += A.Poids;
                @foreach (Processus P in A.Processus)
                {
                    @if (P.Referentiel != null)
                    {
                        <a href="@P.Referentiel.Uri">@P.Referentiel.Nom</a>
                        <br>
                    }
                }
            }
        }
        <br>
    </div>

    <div>
        <br>
        <h2>Étapes</h2>
        <span class="oi oi-key" aria-hidden="true"></span>
        <br>
        <ul>
            @foreach (SEtape E in GetEtapes)
            {
                <li><b>@E.Etape.FirstOrDefault()</b> : @E.Etape</li>
            }
            <br>
        </ul>
        
    </div>

    <div class="bgDiv">
        <br>
        <h2>Ateliers</h2>
        <span class="oi oi-layers" aria-hidden="true"></span>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Atelier</th>
                    <th>Déscription</th>
                    <th>Poids</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SEtape E in GetEtapes)
                    @foreach (Atelier A in E.Ateliers)
                    {
                        <tr>
                            <td>@A.Nom</td>
                            <td>@A.Description</td>
                            <td>@A.Poids</td>
                        </tr>
                    }
            </tbody>
        </table>
        <a>Soit un poids total de @TotalPoids jours</a>
        <br>
    </div>
    
}

<form>
    <a href="/simple-demo">
        <input type="button" class="button" value="Démarrer un accompagnement">
    </a>
</form>

@code {
    private SEtape[]? GetEtapes;
    private int TotalPoids = 0;
    protected override async Task OnInitializedAsync()
    {
        GetEtapes = await Http.GetFromJsonAsync<SEtape[]>("/Data/SIMPLE.json");
    }
}
